<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <ng-container *ngFor="let item of homeTab; let i = index">
              <li class="nav-item">
                <a href="#" class="nav-link" [class.active]="cTab === i+1" (click)="setTab(i, $event)">{{item}}</a>
              </li>
            </ng-container>
          </ul>
        </div>

        <ng-container *ngIf="isLoading">
          <div class="article-preview">
            Loading articles...
          </div>
        </ng-container>

        <ng-container *ngIf="articles">
          <div class="article-preview" *ngIf="articles.articles?.length == 0">
            No articles are here... yet.
          </div>
        </ng-container>

        <ng-container *ngFor="let item of articles?.articles">
          <app-article-item [userName]="item.author.username" [userAva]="item.author.image" [articleDate]="item.createdAt"
            [articleTitle]="item.title" [articleDesc]="item.description" [articleLink]="item.slug" [articleFavorCount]="item.favoritesCount"
            [articleTags]="item.tagList" [articleFavorCheck]="item.favorited"></app-article-item>
        </ng-container>

        <div *ngIf="pages?.length > 1">
          <nav>
            <ul class="pagination">
              <li class="page-item" *ngFor="let p of pages; let i=index" [class.active]="page === i+1">
                <a href="#" class="page-link" (click)="setPage(i, $event)">
                  {{i+1}}
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <ng-container *ngFor="let item of tags.tags">
              <a class="tag-pill tag-default">{{item}}</a>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>